{% extends 'base_app.html.twig' %}

{% block title 'Accueil' %}

{% block content %}
	<div class="wrapper wrapper-content">
		<div class="row">
            <div class="col-lg-6">
				{{ render(controller("AppBundle:App:homeSelection")) }}
			</div>
		</div>
	</div>
{% endblock %}