<div class="footer">
    <div>
        <strong>Copyright</strong> Geoffrey Chameroy &copy; 2016
        {% if 2016 < "now"|date("Y") %}
            - {{ "now"|date("Y") }}
        {% endif %}
    </div>
</div>