<div class="single-sidebar-widget">
	<h6 class="widget-title">A propos de moi</h6>
	<div class="sidebar-content about-me">
		<div class="my-photo">
			<a href="#"><img class="img-circle" src="{{ asset('asset/web/img/avatar.jpg') }}" alt="My Image" /></a>
		</div>
		<h6 class="post-title">Jessica Rocha</h6>
		<p>Lorem ipsum dolor sit amet, consecteturs adipisicing elit, sed do 
		eiusmod tempor incididunt labore et dolore aliqua. Ut enim ad minim veniam.</p>
	</div>
</div>

<div class="single-sidebar-widget">
	<h6 class="widget-title">catégories</h6>
	<div class="sidebar-content">
		<div class="categories-list">
			<ul>
				<li><a href="#"><span class="category">GEEK</span><span class="number">(11)</span></a></li>
				<li><a href="#"><span class="category">TUTORIELS</span><span class="number">(171)</span></a></li>
				<li><a href="#"><span class="category">POUR MES ABOS</span><span class="number">(26)</span></a></li>
				<li><a href="#"><span class="category">VLOG</span><span class="number">(10)</span></a></li>
				<li><a href="#"><span class="category">PTITCINEMA</span><span class="number">(12)</span></a></li>
				<li><a href="#"><span class="category">POKEMON GO</span><span class="number">(4)</span></a></li>
				<li><a href="#"><span class="category">HARRY POTTER</span><span class="number">(15)</span></a></li>
				<li><a href="#"><span class="category">COLLAB</span><span class="number">(87)</span></a></li>
				<li><a href="#"><span class="category">TUTORIEL ENFANT</span><span class="number">(2)</span></a></li>
				<li><a href="#"><span class="category">DISNEY</span><span class="number">(7)</span></a></li>
				<li><a href="#"><span class="category">TsumtsumYoutuber</span><span class="number">(3)</span></a></li>
				<li><a href="#"><span class="category">ALADINE</span><span class="number">(3)</span></a></li>
				<li><a href="#"><span class="category">NOËL</span><span class="number">(25)</span></a></li>
				<li><a href="#"><span class="category">HALLOWEEN</span><span class="number">(5)</span></a></li>
			</ul>
		</div>
	</div>
</div>

<div class="single-sidebar-widget">
	<h6 class="widget-title">Suivez moi</h6>
	<div class="sidebar-content">
		<div class="social-links-area">
			<div class="single-icon">
				<a href="#">
					<i class="fa fa-facebook"></i>
					<p>Facebook</p>
				</a>
			</div>
			<div class="single-icon">
				<a href="#">
					<i class="fa fa-twitter"></i>
					<p>Twitter</p>
				</a>
			</div>
			<div class="single-icon">
				<a href="#">
					<i class="fa fa-google-plus"></i>
					<p>Google Plus</p>
				</a>
			</div>
			<div class="single-icon">
				<a href="#">
					<i class="fa fa-pinterest"></i>
					<p>Pinterest</p>
				</a>
			</div>
			<div class="single-icon">
				<a href="#">
					<i class="fa fa-rss"></i>
					<p>RSS</p>
				</a>
			</div>
			<div class="single-icon">
				<a href="#">
					<i class="fa fa-dribbble"></i>
					<p>Dribbble</p>
				</a>
			</div>
			<div class="single-icon">
				<a href="#">
					<i class="fa fa-instagram"></i>
					<p>Instagram</p>
				</a>
			</div>
			<div class="single-icon">
				<a href="#">
					<i class="fa fa-heart"></i>
					<p>Bloginlove</p>
				</a>
			</div>
			<div class="single-icon">
				<a href="#">
					<i class="fa fa-envelope-o"></i>
					<p>Email</p>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="single-sidebar-widget">
	<h6 class="widget-title">Recevoir les actualités</h6>
	<div class="sidebar-content newsletter">
		<p>Lorem ipsum dolor sit amet, consecteturs adipisicing elit, 
		sed do eiusmod tempor incididunt.</p>
		<div class="newsletter-form">
			<form action="#" method="post">
				<input type="text" placeholder="Adresse email">
				<input type="submit" value="Envoyer">
			</form>
		</div>
	</div>
</div>

<div class="single-sidebar-widget">
	<h6 class="widget-title">archive</h6>
	<div class="sidebar-content">
		<div class="archive-list">
			<ul>
				<li><a href="#"><span class="month">march</span><span class="number">(98)</span></a></li>
				<li><a href="#"><span class="month">january</span><span class="number">(80)</span></a></li>
				<li><a href="#"><span class="month">february</span><span class="number">(60)</span></a></li>
				<li><a href="#"><span class="month">december</span><span class="number">(40)</span></a></li>
				<li><a href="#"><span class="month">october</span><span class="number">(10)</span></a></li>
			</ul>
		</div>
	</div>
</div>

<div class="single-sidebar-widget">
	<h6 class="widget-title">tags cloud</h6>
	<div class="sidebar-content">
		<div class="tags-list">
			<ul>
				<li><a href="#">politics</a></li>
				<li><a href="#">business</a></li>
				<li><a href="#">fashion</a></li>
				<li><a href="#">music</a></li>
				<li><a href="#">travel</a></li>
				<li><a href="#">food</a></li>
				<li><a href="#">photography</a></li>
				<li><a href="#">technology</a></li>
				<li><a href="#">sport</a></li>
			</ul>
		</div>
	</div>
</div>