<footer id="footer" class="footer-area text-center">
	<div class="footer-logo">
		<a href="#"><img src="{{ asset('asset/web/img/logo.png') }}" alt="Footer Logo" /></a>
	</div>
	<p class="copyright-text">2016 &copy;  Tous droits réservés. <a>Jessica Rocha</a> - Ptit Atelier</p>
</footer>