<header id="header" class="header-area">
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6">
					<div class="header-top-left">
						<ul class="social-icons">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#"><i class="fa fa-soundcloud"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<div class="header-top-right fix">
						<div class="header-links">
							<ul>
								<li><a href="#">Connexion</a></li>
								<li><a href="#">Inscription</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="logo">
						<a href="index-2.html">
							<img src="{{ asset(logo_directory ~ '/' ~ setting.header.logo) }}" alt="Logo">
						</a>
					</div>
				</div>
				<div class="col-md-9">
					<div class="main-menu">
						<nav>
							<ul class="main-nav navbar-right">
								<li class="active"><a href="#">Accueil</a></li>
								<li><a href="#">Tutoriels</a></li>
								<li><a href="#">Revues</a></li>
								<li><a href="#">Tests</a></li>
								<li><a href="#">Photos</a></li>
								<li><a href="#">Boutique</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="mobile-menu-area">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav id="dropdown">
							<ul>
								<li class="active"><a href="#">Accueil</a></li>
								<li><a href="#">Tutoriels</a></li>
								<li><a href="#">Revues</a></li>
								<li><a href="#">Tests</a></li>
								<li><a href="#">Photos</a></li>
								<li><a href="#">Boutique</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>