<div id="slider" class="slider-area">
	<div id="main-carousel" class="slider-wrap">
		<div class="single-slide">
			<img src="{{ asset(banner_directory ~ '/' ~ setting.header.banner) }}" alt="Slide Image">
		</div>
	</div>
</div>