<div id="slider" class="slider-area">
	<div id="main-carousel" class="slider-wrap">
		<div class="single-slide">
			<img src="{{ asset('asset/web/img/background.jpg') }}" alt="Slide Image">
		</div>
	</div>
</div>